@model OnlineBakeryOrderingSystem.Bakery

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bakery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BakeryProduct)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BakeryProduct)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerEmailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerEmailAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerBankAccountNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerBankAccountNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CustomerNumber" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
