@model IEnumerable<OnlineBakeryOrderingSystem.Transaction>

@{
    ViewData["Title"] = "Transaction";
}

<h2>Transaction</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Itemprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bakery)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Itemprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bakery.CustomerEmailAddress)
            </td>
           
        </tr>
}
    </tbody>
</table>
